<h1>Anlegen eines neuen Beitrags</h1>
<%= form_for :post, url: posts_path do |f| %>
    <% if @post.errors.any? %>
        <div id="errorExplanation">
            <h5><%= @post.errors.count %> Fehler aufgetreten:</h5>
            <ul>
                <% @post.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <p>
        <%= f.label :title %><br>
        <%= f.text_field :title %>
    </p>
    <p>
        <%= f.label :text %><br>
        <%= f.text_field :text %>
    </p>
    <p>
        <%= f.submit %>
    </p>
<% end %>
<%= link_to 'Alle Beiträge', posts_path %>